<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Bank Account Tracker</title>

  <link rel="stylesheet" href="../static/style.css">
  <!-- <script type="text/javascript" src="../static/script.js" defer></script> -->
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>

<body>
  <div class="dual">
    <div id="history">
      <div id="last-day" class="box">
        <h1>Last 24h overview</h1>
        <table class="last-day-list">
          <tbody>
            {% for user in deltas %}
            <tr>
              <td class="user">{{user.name}}</td>
              <td class="delta{% if user.delta < 0.0 %} negative{% endif %}">
                {% if user.delta > 0.0 %}+{% endif %} {{self.format_number(*user.delta)}} ¤
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="transaction-history" class="box">
        <h1>Transactions history</h1>
        <table class="history-list">
          <tbody>
            {% for (timestamp, operation) in operations %}
            <tr>
              {% match operation %}
              {% when Operation::PlayerPurse {amount, username, repeat_count} %}
              <td class="action{% if *amount > 0.0 %} deposit{% else %} withdrawal{% endif %}">
                {% if *amount > 0.0 %} + {% else %} - {% endif %}</td>
              <td class="amount{% if *amount > 5_000_000.0 %} large{% endif %}">{{self.format_number(**amount)}} ¤</td>
              <td class="user">{{username}}</td>
              <td>{{self.format_timestamp(**timestamp)}}</td>

              {% when Operation::BankInterests {amount} %}
              <td class="action deposit">+</td>
              <td class="amount{% if *amount > 5_000_000.0 %} large{% endif %}">{{self.format_number(**amount)}} ¤</td>
              <td class="user">Bank Interests</td>
              <td>{{self.format_timestamp(**timestamp)}}</td>

              {% when Operation::PlayerTransfer {amount, receiver, sender, repeat_count} %}
              <td class="action transfer">⬌</td>
              <td class="amount{% if *amount > 5_000_000.0 %} large{% endif %}">{{self.format_number(**amount)}}</td>
              <td class="user">{{sender}}</td>
              <td class="user">{{receiver}}</td>
              <td>{{self.format_timestamp(**timestamp)}}</td>

              {% when Operation::WeirdWaypoint %}
              <td class="action transfer">⬌</td>
              <td class="amount">Warning</td>
              <td class="user">Weird waypoint</td>
              <td>{{self.format_timestamp(**timestamp)}}</td>
              {% endmatch %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% let operations_number = operations.len() %}
        <p class="number-of-transactions">Shown {{operations_number}} transactions on {{total_operations}} recorded</p>
      </div>
    </div>
    <div id="additional-info">
      <div id="balance" class="box">
        <p class="balance-info">Balance: {{self.format_number(*balance)}} ¤ ({{completion_percentage}})</p>
        <p class="balance-info additional">Max balance: {{max_balance}} ¤</p>
        <p class="balance-info">Interests: {{self.format_number(*bank_interests)}} ¤</p>
        <div class="members">
          <h2>Members</h2>
          <table>
            <tbody>
              {% for user in users %}
              <tr data-username="{{user.name}}">
                <td class="user">{{user.name}}</td>
                <td class="common-balance{% if user.balance < 0.0 %} negative{% endif %}">
                  {{self.format_number(*user.balance)}} ¤</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div id="actions" class="box">
        <h1>Transfer</h1>
        <form id="transaction-form">
          <datalist id="users-list">
            {% for user in users %}
            <option value="{{user.name}}">{{user.name}}</option>
            {% endfor %}
            <option value="@bank-interest">Bank Interests</option>
          </datalist>

          <div>
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required disabled>
          </div>

          <div>
            <label for="from-user">From:</label>
            <input type="text" list="users-list" id="from-user" name="from-user" required disabled>
          </div>

          <div>
            <label for="to-user">To:</label>
            <input type="text" list="users-list" id="to-user" name="to-user" required disabled>
          </div>

          <button id="transfer" disabled>Transfer</button>
        </form>
        <span id="transfer-logs"></span>
      </div>

      <div id="technical-infos" class="box">
        <h1>Technical informations</h1>
        <p>Last check: {{self.format_timestamp(*last_check_timestamp)}}</p>
        <p>Last transaction: {{self.format_timestamp(*last_transaction_timestamp)}}</p>
        <p id="drift">Drift: <span class="{% if drift > 1.0 %}important{% endif %}">{{drift}}</span></p>
        <p id="websocket-info">WS: <span>connecting</span></p>
        <button id="reload" action="submit">Reload</button>
      </div>
    </div>
  </div>
</body>

</html>
